sudo tee /etc/systemd/system/vlabiisc.service > /dev/null <<EOF
[Unit]
Description=Virtual Embedded Lab
After=network.target

[Service]
User=$REAL_USER
WorkingDirectory=$PROJECT_DIR
ExecStart=$PROJECT_DIR/venv/bin/python app.py
Restart=always
Environment=PATH=$PROJECT_DIR/venv/bin:/usr/bin

[Install]
WantedBy=multi-user.target
EOF
